/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.json
vue.config.js
app/Http/Controllers/API/CustomerController.php
.gitignore
app/Http/Controllers/API/LessonController.php
app/Http/Controllers/API/LessonController.php
app/Http/Controllers/API/CustomerController.php
app/Http/Controllers/API/LessonController.php
public/js/app.js
app/Http/Controllers/API/CustomerController.php
resources/js/components/lessons/Lesson7.vue
public/js/app.js
app/Http/Controllers/API/CustomerController.php
.gitignore
resources/js/components/lessons/Lesson7.vue
resources/js/components/lessons/Lesson8-2.vue
resources/js/components/settings/Index.vue
resources/js/components/customers/CreateUpdate.vue
resources/js/components/customers/Index.vue
app/Customer.php
